* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#character {
  resize: none;
  border-radius: 50px;
  padding: 2rem;
}
.container_text {
  position: relative;
  width: 30%;
  /* height: 20px; */
  margin: 0 auto;
}
.content_container {
  text-align: center;
  margin-top: 20rem;
}
.count_number {
  display: inline-block;
  width: 150px;
  text-align: center;

  position: absolute;
  font-size: 1rem;
  font-weight: 700;
  bottom: 1rem;
  right: 1rem;
}


/* .limit-reached {
  color: red;
  border: red;
}
.counter-limit {
} */
